// Place all the styles related to the funcionarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Custom bootstrap variables must be set or imported *before* bootstrap.
.card-form{
  background-color: #1139b0;
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 40vw;
  height: 70vh;
  border-radius:15px;
}
