.card-funcionarios{
  background-color: #1139b0;
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 40vw;
  height: 75vh;
  border-radius:15px;
}

.text-func{
  color: #ff75af;
}

#text-data{
  color: #1a2190;
}
