<div class='cointainer'>
  <div class='flex-row'>
    <div class='d-flex justify-content-center'>
      <h1> Olá, <%= current_user.nickname%> </h1>
    </div>
    <div class='d-flex justify-content-center'>
      <p> Acesse abaixo todos seus planos cadastrados na empresa!</p>
    </div>
    <div class='d-flex justify-content-center'>
      <% current_user.planos.each do |plano| %>
        <h1><%= link_to plano.nome, plano_funcionarios_path(plano), class: "btn" %></h1>
      <%end%>
    </div>
  </div>
</div>
