<nav class="navbar bg-light">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div>
        <h2><i class="fas fa-heartbeat"></i>AppSaúde</h2>
      </div>
    <% end %>

      <div class="nav-link text-reset">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-muted" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-muted" %>
        <% end %>
      </div>
</nav>
