<div class = 'container-home' align='center'>
  <div class='text-center py-5'>
      <h1>Atualize cadastro de <%=@funcionario.name%></h1>
  </div>
  <div class="card p-5 ">
    <h1 class='text-center'>Ficha: </h1>
    <%= render 'form', funcionario: @funcionario %>
  </div>
</div>
