<div class = 'container-home' align='center'>
  <div class='text-center py-5'>
      <h1>Atualize cadastro de <%=@funcionario.name%></h1>
  </div>
  <div class="card-form p-5 ">
    <h1 class='text-center'>Ficha: </h1>
    <% if current_user.nickname == 'Tio Patinhas Bank'%>
      <%= render 'formtiopat', funcionario: @funcionario %>
    <% elsif current_user.nickname == 'Acme Co.'%>
      <%= render 'formacme', funcionario: @funcionario %>
    <% else %>
      <%= render 'form', funcionario: @funcionario %>
    <%end%>
  </div>
</div>
